{:kotoba.app/id "cloud.itonami.isic-8790", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibznl43scq7sin5qjejxj5hpk3wrvguuugiur5eoiwpxkbfsbuhk4", :kotoba.app/embed-url "ipfs://bafkreibznl43scq7sin5qjejxj5hpk3wrvguuugiur5eoiwpxkbfsbuhk4", :published {:archive "https://kotobase.net/ipfs/bafkreibznl43scq7sin5qjejxj5hpk3wrvguuugiur5eoiwpxkbfsbuhk4", :size 73324, :put-status 201, :get-status 200, :at "2026-08-15T13:47:53.510Z"}}
